<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mf.bm443.depo">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Light">

        <!-- windowSoftInputMode : Sanal klavye kontrolü -->
        <activity
            android:name=".layouts.urunIslemleri.Urunlerim"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:exported="true" />
        <activity
            android:name=".layouts.kategoriIslemleri.Kategoriler"
            android:exported="true" />

        <activity
            android:name=".layouts.urunIslemleri.UrunEkle"
            android:exported="true" />

        <activity
            android:name=".layouts.depoIslemleri.DepoEkle"
            android:exported="true" />
        <activity
            android:name=".layouts.depoIslemleri.Depolarim"
            android:exported="true" />
        <activity
            android:name=".layouts.auth.KayitOl"
            android:exported="true" />
        <activity
            android:name=".layouts.HomePage"
            android:exported="true" />

        <activity
            android:name=".layouts.auth.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>